#homepage{
  font-family: 'Neonderthaw', cursive;
  font-size: 50px;
  margin-left: 20px;
  margin-top: -2px;
  color: #0FA3B1;
  border: none;
  background-color: #EDDEA4;

}

#homepage:hover {
  text-shadow: #f7a173 1px 0 10px;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-family: 'Source Sans 3', sans-serif; */
  font-size: 15px;
  background-color: #EDDEA4;
  color: rgb(26, 26, 26)
}

#box {
  border: 5px solid #0FA3B1;
  border-radius: 25px;
  height: 400px;
  width: 600px;
  padding: 25px 25px 25px 25px;
  background: #F9F7F3;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

}

#prompt {
  margin-bottom: 10px;
}

form {
  column-width: 150px;
}

.ingredient {
  border: 3px solid #f7a173;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;

}

.ingredient:hover {
  transition: 100ms;
  border-color: hsl(21, 89%, 71%, 0.5);
}


.pinkButton {
  height: 30px;
  width: 70px;
  background-color: #F7A072;
  display: inline-block;
  margin-right: 15px;
  margin-left: 10px;
  border-radius: 10px;
  border-color: #0FA3B1;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-family: 'Faustina', serif;
  color: white;

}

.pinkButton:hover {
  text-shadow: 0.5px 0.5px 1px rgb(26, 26, 26)
}

.recipe {
  background-color: #F9F7F3;
  width: 200px;
  height: 200px;
  padding: 5px 10px 10px 10px;
  margin-left: 10px;
  margin-top: 10px;
  border: 5px solid #0FA3B1;
  border-radius: 25px;
  font-size: 20px;
  overflow-y: auto;
}

a {
  color: rgb(26, 26, 26);
  font-size: 90%;
  text-decoration: none;
}

.image {
  max-width: 100%;
}

.link {
  margin-top: 20px;
  margin-bottom: 5px;
  background-color:#EDDEA4;
  padding: 5px;
  border: 1px solid #F7A072;
  border-radius: 10px;
  text-align: center;
  font-size: 80%
}

button.delete {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 50%;
  display: flex;
  justify-content: center;
  float: right;
  color: rgb(26, 26, 26);
  font-family: 'IBM Plex Sans', sans-serif;

}